In [ ]:
## 크롤링 하는 데에 너무 많은 시간이 걸리고, 다소 문제가 많아... 데이터 통째로 다운받았다.
## 15장, 16장, 18장의 크롤링 과정은 방법만 확인하고 코드를 실행하진 말자. 하루종일 매달려봤지만 정신건강에 좋지 못하다.

### 재무제표 크롤링

- FnGuide에서 운영하는 Company Guide 웹사이트 http://comp.fnguide.com/

In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
query = """
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
	and 종목구분 = '보통주';
"""
ticker_list = pd.read_sql(query, con=engine)
engine.dispose()

i = 0
ticker = ticker_list['종목코드'][i]

url = f'http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker}'
data = pd.read_html(url, displayed_only=False)

[item.head(3) for item in data]

[  IFRS(연결)  2020/12  2021/12  2022/12  2023/06    전년동기 전년동기(%)
 0      매출액   2721.0   2930.0   3404.0   1894.0  1725.0     9.8
 1     매출원가   1334.0   1437.0   1594.0    906.0   810.0    11.8
 2    매출총이익   1387.0   1493.0   1810.0    988.0   915.0     8.0,
   IFRS(연결)  2022/09  2022/12  2023/03  2023/06   전년동기 전년동기(%)
 0      매출액    835.0    845.0    994.0    900.0  872.0     3.2
 1     매출원가    398.0    386.0    468.0    438.0  404.0     8.4
 2    매출총이익    436.0    459.0    526.0    462.0  468.0    -1.3,
              IFRS(연결)  2020/12  2021/12  2022/12  2023/06
 0                  자산   4338.0   4478.0   4611.0   4818.0
 1  유동자산계산에 참여한 계정 펼치기   2227.0   2202.0   2275.0   2317.0
 2                재고자산    395.0    362.0    468.0    549.0,
              IFRS(연결)  2022/09  2022/12  2023/03  2023/06
 0                  자산   4685.0   4611.0   4770.0   4818.0
 1  유동자산계산에 참여한 계정 펼치기   2321.0   2275.0   2357.0   2317.0
 2                재고자산    471.0    468.0    494.0    549.0,
          IFRS(연결)  2020/12  2021/12  2022/12  2023/06
 0    영업활동으로인한현금흐름    522.0    360.0    292.0    221.0
 1           당기순손익    287.0    196.0    216.0    205.0
 2  법인세비용차감전계속사업이익      NaN      NaN      NaN      NaN,
          IFRS(연결)  2022/09  2022/12  2023/03  2023/06
 0    영업활동으로인한현금흐름     70.0      9.0    133.0     88.0
 1           당기순손익     68.0     25.0    129.0     76.0
 2  법인세비용차감전계속사업이익      NaN      NaN      NaN      NaN]

In [2]:
print(data[0].columns.tolist(), '\n',
      data[2].columns.tolist(), '\n',
      data[4].columns.tolist()
     )

['IFRS(연결)', '2020/12', '2021/12', '2022/12', '2023/06', '전년동기', '전년동기(%)']
 ['IFRS(연결)', '2020/12', '2021/12', '2022/12', '2023/06']
 ['IFRS(연결)', '2020/12', '2021/12', '2022/12', '2023/06']

In [3]:
data_fs_y = pd.concat(
    [data[0].iloc[:, ~data[0].columns.str.contains('전년동기')], data[2], data[4]])
data_fs_y = data_fs_y.rename(columns={data_fs_y.columns[0]: "계정"})

data_fs_y.head()

                      계정  2020/12  2021/12  2022/12  2023/06
0                    매출액   2721.0   2930.0   3404.0   1894.0
1                   매출원가   1334.0   1437.0   1594.0    906.0
2                  매출총이익   1387.0   1493.0   1810.0    988.0
3  판매비와관리비계산에 참여한 계정 펼치기   1155.0   1269.0   1511.0    812.0
4                    인건비    415.0    468.0    489.0    255.0

In [4]:
import requests as rq
from bs4 import BeautifulSoup
import re

page_data = rq.get(url)
page_data_html = BeautifulSoup(page_data.content, 'html.parser')

fiscal_data = page_data_html.select('div.corp_group1 > h2')
fiscal_data_text = fiscal_data[1].text
fiscal_data_text = re.findall('[0-9]+', fiscal_data_text)

print(fiscal_data_text)

['12']

In [5]:
data_fs_y = data_fs_y.loc[:, (data_fs_y.columns == '계정') |
                          (data_fs_y.columns.str[-2:].isin(fiscal_data_text))]
data_fs_y.head()

                      계정  2020/12  2021/12  2022/12
0                    매출액   2721.0   2930.0   3404.0
1                   매출원가   1334.0   1437.0   1594.0
2                  매출총이익   1387.0   1493.0   1810.0
3  판매비와관리비계산에 참여한 계정 펼치기   1155.0   1269.0   1511.0
4                    인건비    415.0    468.0    489.0

In [6]:
data_fs_y[data_fs_y.loc[:, ~data_fs_y.columns.isin(['계정'])].isna().all(
    axis=1)].head()

                      계정  2020/12  2021/12  2022/12
10               기타원가성비용      NaN      NaN      NaN
18              대손충당금환입액      NaN      NaN      NaN
19              매출채권처분이익      NaN      NaN      NaN
20  당기손익-공정가치측정 금융자산관련이익      NaN      NaN      NaN
23            금융자산손상차손환입      NaN      NaN      NaN

In [7]:
data_fs_y['계정'].value_counts(ascending=False).head()

계정
기타          4
배당금수익       3
파생상품이익      3
이자수익        3
법인세납부(-)    3
Name: count, dtype: int64

In [ ]:
data_fs_y

In [29]:
def clean_fs(df, ticker, frequency):

    df = df[~df.loc[:, ~df.columns.isin(['계정'])].isna().all(axis=1)]
    df = df.drop_duplicates(['계정'], keep='first')
    df = pd.melt(df, id_vars='계정', var_name='기준일', value_name='값')
    df = df[~pd.isnull(df['값'])]
    df['계정'] = df['계정'].replace({'계산에 참여한 계정 펼치기': ''}, regex=True)
    df['기준일'] = pd.to_datetime(df['기준일'], errors='coerce', infer_datetime_format=True)
    df['기준일'] = pd.to_datetime(df['기준일'],
                               format='%Y-%m') + pd.tseries.offsets.MonthEnd()
    df['종목코드'] = ticker
    df['공시구분'] = frequency

    return df

In [30]:
data_fs_y_clean = clean_fs(data_fs_y, ticker, 'y')

data_fs_y_clean.head()

C:\Users\jh102\AppData\Local\Temp\ipykernel_5720\281233411.py:8: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['기준일'] = pd.to_datetime(df['기준일'], errors='coerce', infer_datetime_format=True)
C:\Users\jh102\AppData\Local\Temp\ipykernel_5720\281233411.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['기준일'] = pd.to_datetime(df['기준일'], errors='coerce', infer_datetime_format=True)

        계정        기준일       값    종목코드 공시구분
0      매출액 2020-12-31  2721.0  000020    y
1     매출원가 2020-12-31  1334.0  000020    y
2    매출총이익 2020-12-31  1387.0  000020    y
3  판매비와관리비 2020-12-31  1155.0  000020    y
4      인건비 2020-12-31   415.0  000020    y

In [31]:
# 분기 데이터

data_fs_q = pd.concat(
    [data[1].iloc[:, ~data[1].columns.str.contains('전년동기')], data[3], data[5]])
data_fs_q = data_fs_q.rename(columns={data_fs_q.columns[0]: "계정"})
data_fs_q_clean = clean_fs(data_fs_q, ticker, 'q')

data_fs_q_clean.head()

C:\Users\jh102\AppData\Local\Temp\ipykernel_5720\281233411.py:8: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['기준일'] = pd.to_datetime(df['기준일'], errors='coerce', infer_datetime_format=True)
C:\Users\jh102\AppData\Local\Temp\ipykernel_5720\281233411.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['기준일'] = pd.to_datetime(df['기준일'], errors='coerce', infer_datetime_format=True)

        계정        기준일      값    종목코드 공시구분
0      매출액 2022-09-30  835.0  000020    q
1     매출원가 2022-09-30  398.0  000020    q
2    매출총이익 2022-09-30  436.0  000020    q
3  판매비와관리비 2022-09-30  362.0  000020    q
4      인건비 2022-09-30  127.0  000020    q

In [33]:
data_fs_bind = pd.concat([data_fs_y_clean, data_fs_q_clean])
data_fs_bind.head()

        계정        기준일       값    종목코드 공시구분
0      매출액 2020-12-31  2721.0  000020    y
1     매출원가 2020-12-31  1334.0  000020    y
2    매출총이익 2020-12-31  1387.0  000020    y
3  판매비와관리비 2020-12-31  1155.0  000020    y
4      인건비 2020-12-31   415.0  000020    y

In [35]:
print(data_fs_bind['기준일'].dtype)

datetime64[ns]

### 전 종목 재무제표 크롤링

In [ ]:
'''{SQL}
use stock_db;

create table kor_fs
(
    계정 varchar(30),
    기준일 date,
    값 float,
    종목코드 varchar(6),
    공시구분 varchar(1),
    primary key(계정, 기준일, 종목코드, 공시구분)
)
'''

In [ ]:
# 패키지 불러오기
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup
import re
from tqdm import tqdm
import time

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')
mycursor = con.cursor()

# 티커리스트 불러오기
ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
	and 종목구분 = '보통주';
""", con=engine)

# DB 저장 쿼리
query = """
    insert into kor_fs (계정, 기준일, 값, 종목코드, 공시구분)
    values (%s,%s,%s,%s,%s) as new
    on duplicate key update
    값=new.값
"""

# 오류 발생시 저장할 리스트 생성
error_list = []


# 재무제표 클렌징 함수
def clean_fs(df, ticker, frequency):

    df = df[~df.loc[:, ~df.columns.isin(['계정'])].isna().all(axis=1)]
    df = df.drop_duplicates(['계정'], keep='first')
    df = pd.melt(df, id_vars='계정', var_name='기준일', value_name='값')
    df = df[~pd.isnull(df['값'])]
    df['계정'] = df['계정'].replace({'계산에 참여한 계정 펼치기': ''}, regex=True)
    df['기준일'] = pd.to_datetime(df['기준일'],
                               format='%Y-%m') + pd.tseries.offsets.MonthEnd()
    df['종목코드'] = ticker
    df['공시구분'] = frequency

    return df


# for loop
for i in tqdm(range(0, len(ticker_list))):

    # 티커 선택
    ticker = ticker_list['종목코드'][i]

    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:

        # url 생성
        url = f'https://comp.fnguide.com/SVO2/ASP/SVD_main.asp?pGB=1&gicode=A{ticker}'


        # 데이터 받아오기
        data = pd.read_html(url, displayed_only=False)

        # 연간 데이터
        data_fs_y = pd.concat([
            data[0].iloc[:, ~data[0].columns.str.contains('전년동기')], data[2],
            data[4]
        ])
        data_fs_y = data_fs_y.rename(columns={data_fs_y.columns[0]: "계정"})

        # 결산년 찾기
        page_data = rq.get(url)
        page_data_html = BeautifulSoup(page_data.content, 'html.parser')

        fiscal_data = page_data_html.select('div.corp_group1 > h2')
        fiscal_data_text = fiscal_data[1].text
        fiscal_data_text = re.findall('[0-9]+', fiscal_data_text)

        # 결산년에 해당하는 계정만 남기기
        data_fs_y = data_fs_y.loc[:, (data_fs_y.columns == '계정') | (
            data_fs_y.columns.str[-2:].isin(fiscal_data_text))]

        # 클렌징
        data_fs_y_clean = clean_fs(data_fs_y, ticker, 'y')

        # 분기 데이터
        data_fs_q = pd.concat([
            data[1].iloc[:, ~data[1].columns.str.contains('전년동기')], data[3],
            data[5]
        ])
        data_fs_q = data_fs_q.rename(columns={data_fs_q.columns[0]: "계정"})

        data_fs_q_clean = clean_fs(data_fs_q, ticker, 'q')

        # 두개 합치기
        data_fs_bind = pd.concat([data_fs_y_clean, data_fs_q_clean])

        # 재무제표 데이터를 DB에 저장
        args = data_fs_bind.values.tolist()
        mycursor.executemany(query, args)
        con.commit()

    except:

        # 오류 발생시 해당 종목명을 저장하고 다음 루프로 이동
        print(ticker)
        error_list.append(ticker)

    # 타임슬립 적용
    time.sleep(2)

# DB 연결 종료
engine.dispose()
con.close()

### 가치 지표 계산

- 최근 4분기 데이터를 이용해 계산하는 TTM(Trailing Twelve Months) 방법을 사용

In [49]:
# 패키지 불러오기
from sqlalchemy import create_engine
import pandas as pd

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')

# 티커 리스트
ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
	and 종목구분 = '보통주';
""", con=engine)

# 삼성전자 분기 재무제표
sample_fs = pd.read_sql("""
select * from kor_fs
where 공시구분 = 'q'
and 종목코드 = '005930'
and 계정 in ('당기순이익', '자본', '영업활동으로인한현금흐름', '매출액');
""", con=engine)

engine.dispose()

In [ ]:
## 모종의 이유로 fnguide에서 크롤링이 되지 않음.
## SQL kor_fs 테이블에 NULL값만 출력.
## 따라서 아래의 sample_fs에 아무런 결과도 확인할 수 없음.
## 원인이 나오지 않음.

In [50]:
sample_fs = sample_fs.sort_values(['종목코드', '계정', '기준일'])

sample_fs.head()

Empty DataFrame
Columns: [계정, 기준일, 값, 종목코드, 공시구분]
Index: []

In [44]:
sample_fs['ttm'] = sample_fs.groupby(
    ['종목코드', '계정'], as_index=False)['값'].rolling(window=4,
                                                 min_periods=4).sum()['값']

sample_fs

Empty DataFrame
Columns: [계정, 기준일, 값, 종목코드, 공시구분, ttm]
Index: []

In [45]:
import numpy as np

sample_fs['ttm'] = np.where(sample_fs['계정'] == '자본',
                            sample_fs['ttm'] / 4, sample_fs['ttm'])
sample_fs = sample_fs.groupby(['계정', '종목코드']).tail(1)

sample_fs.head()

Empty DataFrame
Columns: [계정, 기준일, 값, 종목코드, 공시구분, ttm]
Index: []

In [46]:
sample_fs_merge = sample_fs[['계정', '종목코드', 'ttm']].merge(
    ticker_list[['종목코드', '시가총액', '기준일']], on='종목코드')
sample_fs_merge['시가총액'] = sample_fs_merge['시가총액']/100000000

sample_fs_merge.head()

Empty DataFrame
Columns: [계정, ttm, 종목코드, 시가총액, 기준일]
Index: []

In [47]:
sample_fs_merge['value'] = sample_fs_merge['시가총액'] / sample_fs_merge['ttm']
sample_fs_merge['지표'] = np.where(
    sample_fs_merge['계정'] == '매출액', 'PSR',
    np.where(
        sample_fs_merge['계정'] == '영업활동으로인한현금흐름', 'PCR',
        np.where(sample_fs_merge['계정'] == '자본', 'PBR',
                 np.where(sample_fs_merge['계정'] == '당기순이익', 'PER', None))))

sample_fs_merge

Empty DataFrame
Columns: [계정, ttm, 종목코드, 시가총액, 기준일, value, 지표]
Index: []

In [48]:
ticker_list_sample = ticker_list[ticker_list['종목코드'] == '005930'].copy()
ticker_list_sample['DY'] = ticker_list_sample['주당배당금'] / ticker_list_sample['종가']

ticker_list_sample.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분,DY
259,005930,삼성전자,KOSPI,68600.0,4.095270e+14,2023-11-01,8057.0,3591.0,57822.0,1444.0,보통주,0.02105

### 전 종목 가치지표 계산

In [ ]:
'''{SQL}
use stock_db;

create table kor_value
(
종목코드 varchar(6),
기준일 date,
지표 varchar(3),
값 double,
primary key (종목코드, 기준일, 지표)
);
'''

In [2]:
# 패키지 불러오기
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')
mycursor = con.cursor()

# 분기 재무제표 불러오기
kor_fs = pd.read_sql("""
select * from kor_fs
where 공시구분 = 'q'
and 계정 in ('당기순이익', '자본', '영업활동으로인한현금흐름', '매출액');
""", con=engine)

# 티커 리스트 불러오기
ticker_list = pd.read_sql("""
select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker) 
and 종목구분 = '보통주';
""", con=engine)

engine.dispose()

In [3]:
# TTM 구하기
kor_fs = kor_fs.sort_values(['종목코드', '계정', '기준일'])
kor_fs['ttm'] = kor_fs.groupby(['종목코드', '계정'], as_index=False)['값'].rolling(
    window=4, min_periods=4).sum()['값']

# 자본은 평균 구하기
kor_fs['ttm'] = np.where(kor_fs['계정'] == '자본', kor_fs['ttm'] / 4,
                         kor_fs['ttm'])
kor_fs = kor_fs.groupby(['계정', '종목코드']).tail(1)

In [4]:
kor_fs_merge = kor_fs[['계정', '종목코드',
                       'ttm']].merge(ticker_list[['종목코드', '시가총액', '기준일']],
                                     on='종목코드')
kor_fs_merge['시가총액'] = kor_fs_merge['시가총액'] / 100000000

kor_fs_merge['value'] = kor_fs_merge['시가총액'] / kor_fs_merge['ttm']
kor_fs_merge['value'] = kor_fs_merge['value'].round(4)
kor_fs_merge['지표'] = np.where(
    kor_fs_merge['계정'] == '매출액', 'PSR',
    np.where(
        kor_fs_merge['계정'] == '영업활동으로인한현금흐름', 'PCR',
        np.where(kor_fs_merge['계정'] == '자본', 'PBR',
                 np.where(kor_fs_merge['계정'] == '당기순이익', 'PER', None))))

kor_fs_merge.rename(columns={'value': '값'}, inplace=True)
kor_fs_merge = kor_fs_merge[['종목코드', '기준일', '지표', '값']]
kor_fs_merge = kor_fs_merge.replace([np.inf, -np.inf, np.nan], None)

kor_fs_merge.head(4)

Empty DataFrame
Columns: [종목코드, 기준일, 지표, 값]
Index: []

In [5]:
query = """
    insert into kor_value (종목코드, 기준일, 지표, 값)
    values (%s,%s,%s,%s) as new
    on duplicate key update
    값=new.값
"""

args_fs = kor_fs_merge.values.tolist()
mycursor.executemany(query, args_fs)
con.commit()

In [6]:
ticker_list['값'] = ticker_list['주당배당금'] / ticker_list['종가']
ticker_list['값'] = ticker_list['값'].round(4)
ticker_list['지표'] = 'DY'
dy_list = ticker_list[['종목코드', '기준일', '지표', '값']]
dy_list = dy_list.replace([np.inf, -np.inf, np.nan], None)
dy_list = dy_list[dy_list['값'] != 0]

dy_list.head()

     종목코드         기준일  지표       값
0  000020  2023-11-01  DY  0.0189
2  000050  2023-11-01  DY  0.0156
3  000070  2023-11-01  DY  0.0515
4  000080  2023-11-01  DY  0.0437
5  000100  2023-11-01  DY  0.0069

In [7]:
args_dy = dy_list.values.tolist()
mycursor.executemany(query, args_dy)
con.commit()

engine.dispose()
con.close()