## 파이썬에서 SQL DB에 접속하기
- SQL DB 사전 구축 필요

In [15]:
import pymysql

con = pymysql.connect(
    user='root',
    passwd='1234',
    host='127.0.0.1',
    db='shop',
    charset='utf8'
)

mycursor = con.cursor() #DB의 커서 객체 (현재 작업중인 행)을 가져옴.

In [16]:
query = """
    select * from goods;
"""

mycursor.execute(query) # SQL 쿼리를 데이터베이스 서버에 보냄.
data = mycursor.fetchall() # 서버로부터 데이터를 가져옴. fetchall() / fetchone() / fetchmany(size=n)
con.close()

display(data)

(('0001', '티셔츠', '의류', 1000, 500, datetime.date(2020, 9, 20)),
 ('0002', '펀칭기', '사무용품', 500, 320, datetime.date(2020, 9, 11)),
 ('0003', '와이셔츠', '의류', 4000, 2800, None),
 ('0004', '식칼', '주방용품', 3000, 2800, datetime.date(2020, 9, 20)),
 ('0005', '압력솥', '주방용품', 6800, 5000, datetime.date(2020, 1, 15)),
 ('0006', '포크', '주방용품', 500, None, datetime.date(2020, 9, 20)),
 ('0007', '도마', '주방용품', 880, 790, datetime.date(2020, 4, 28)),
 ('0008', '볼펜', '사무용품', 100, None, datetime.date(2020, 11, 11)))

In [17]:
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='shop',
                      charset='utf8')

mycursor = con.cursor()
query = """
    insert into goods (goods_id, goods_name, goods_classify, sell_price, buy_price, register_date)
    values ('0009', '스테이플러', '사무용품', '2000', '1500', '2020-12-30');
"""

mycursor.execute(query)
con.commit() #데이터의 확정 갱신
con.close()

### SQL DB를 판다스 데이터프레임으로 불러와서 수정.

In [20]:
!pip install sqlalchemy --upgrade
!pip install pandas --upgrade

Requirement already satisfied: sqlalchemy in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.23)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\jh102\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.0.0)
Requirement already satisfied: pandas in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.5.3)
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/db/3e/db3e98911b5da217d1e3f85b6e091448cb8f8be674bdaff3c0ec0dd855e0/pandas-2.1.2-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.1.2-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2022.7.1)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.2-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
    --------------------------------------- 0.2/10.6 MB 2.1 MB/s eta 0:00:05
   --- ------------------------------------ 0.8/10.6 MB 6.6 MB/s eta 0:00:02
   ------- -------------------------------- 1.9/10.6 MB 10.9 MB/s eta 0:00:01
   ---------- ----------------------------- 2.8/10.6 MB 12.8 MB/s eta 0:00:01
   ---------------- ----------------------- 4.3/10.6 MB 16.1 MB/s eta 0:00:01
   ---------------------- ----------------- 6.0/10.6 MB 19.3 MB/s eta 0:00:01
   ----------------------------- ---------- 7.9/10.6 MB 22.1 MB/s eta 0:00:01
   ------------------------------------- -- 9.9/10.6 MB 25.4 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 28.5 MB/s eta 0:00:00
Installing collected packages: tzdata, pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3

ERROR: Could not install packages due to an OSError: [WinError 5] 액세스가 거부되었습니다: 'C:\\Users\\jh102\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python311\\site-packages\\~andas\\_libs\\algos.cp311-win_amd64.pyd'
Check the permissions.


[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\jh102\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [48]:
import pandas as pd
from sqlalchemy import create_engine

# engine = create_engine('mysql+pymysql://[사용자명]:[비밀번호]@[호스트:포트]/[사용할 데이터베이스]')
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/shop')
query = """select * from Goods"""
#goods = pd.read_sql(query, con=engine)
engine.dispose()
# 해당 코드 버전 호환 문제가 발생하여, 아래와 같이 데이터 불러오는 방식을 수정함.

In [33]:
'''
from sqlalchemy import create_engine, text

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/shop')
connection = engine.connect()

query = text("SELECT * FROM goods")  # SQL 문장을 SQLAlchemy의 text 함수를 사용하여 생성
result = connection.execute(query)
data = result.fetchall()

connection.close()
engine.dispose()
'''

In [49]:
data

[('0001', '티셔츠', '의류', 1000, 500, datetime.date(2020, 9, 20)),
 ('0002', '펀칭기', '사무용품', 500, 320, datetime.date(2020, 9, 11)),
 ('0003', '와이셔츠', '의류', 4000, 2800, None),
 ('0004', '식칼', '주방용품', 3000, 2800, datetime.date(2020, 9, 20)),
 ('0005', '압력솥', '주방용품', 6800, 5000, datetime.date(2020, 1, 15)),
 ('0006', '포크', '주방용품', 500, None, datetime.date(2020, 9, 20)),
 ('0007', '도마', '주방용품', 880, 790, datetime.date(2020, 4, 28)),
 ('0008', '볼펜', '사무용품', 100, None, datetime.date(2020, 11, 11)),
 ('0009', '스테이플러', '사무용품', 2000, 1500, datetime.date(2020, 12, 30))]

In [36]:
import seaborn as sns

iris = sns.load_dataset('iris')
iris.head()
# 해당 코드를 SQL에 저장할 것.

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [37]:
from sqlalchemy import create_engine 

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/shop')
iris.to_sql(name = 'iris', con = engine, index = False, if_exists = 'replace') #if_exists = 'replace' 해당 데이터가 존재하면 데이터 덮어쓰라는 의미.
engine.dispose() #연결 종료

### UPSERT 기능 구현

퀀트 투자 시계열 데이터의 특성
- insert: 시가이 지남에 따라 데이터가 추가됨.
- update: 간혹 과거 데이터가 수정됨.

In [40]:
!pip install sqlalchemy-utils

Collecting sqlalchemy-utils
  Downloading SQLAlchemy_Utils-0.41.1-py3-none-any.whl (92 kB)
     ---------------------------------------- 0.0/92.6 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/92.6 kB ? eta -:--:--
     ---------------- --------------------- 41.0/92.6 kB 495.5 kB/s eta 0:00:01
     -------------------------------------- 92.6/92.6 kB 885.7 kB/s eta 0:00:00
Requirement already satisfied: SQLAlchemy>=1.3 in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy-utils) (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from SQLAlchemy>=1.3->sqlalchemy-utils) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jh102\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from SQLAlchemy>=1.3->sqlalchemy-utils) (3.0.0)
Installing collected packages: sqlalchemy-utils
Successfully installed sqlalchemy-utils-0.41.1

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\jh102\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [41]:
# import pandas as pd
# sqlalchemy import create_engine
from sqlalchemy_utils import create_database

create_database('mysql+pymysql://root:1234@127.0.0.1:3306/exam') #exam 이라는 데이터베이스를 만듦.

In [43]:
price = pd.DataFrame({
    "날짜": ['2021-01-02', '2021-01-03'],
    "티커": ['000001', '000001'],
    "종가": [1340, 1315],
    "거래량": [1000, 2000]
})

price.head()

           날짜      티커    종가   거래량
0  2021-01-02  000001  1340  1000
1  2021-01-03  000001  1315  2000

In [45]:
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/exam')
price.to_sql('price', con=engine, if_exists='append', index=False)
#data_sql = pd.read_sql('price', con=engine)
engine.dispose()
# SQL로 가서 exam 테이블이 생긴 것 확인 가능.

In [50]:
new = pd.DataFrame({
    "날짜": ['2021-01-04'],
    "티커": ['000001'],
    "종가": [1320],
    "거래량": [1500]
})
price = pd.concat([price, new])

price.head()

           날짜      티커    종가   거래량
0  2021-01-02  000001  1340  1000
1  2021-01-03  000001  1315  2000
0  2021-01-04  000001  1320  1500

In [51]:
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/exam')
price.to_sql('price', con=engine, if_exists='append', index=False) # append를 하면 데이터가 중복되고, replace를 하면 기존 데이터가 삭제되는 문제.
# data_sql = pd.read_sql('price', con=engine)
engine.dispose()

In [52]:
''' {mySQL}
insert into @table
(arg1, arg2, arg3)
values
(@arg1, @arg2, @arg3 )
on duplicate key update (Key를 제외한 Update할 컬럼들 나열)
arg2 = @arg2, arg3 = @arg3
'''
# SQL에서 위의 코드를 통해 UPSERT 기능을 구현하는데, 이를 파이썬으로 구현해보자.
# 그 전에 mySQL에서 price_2라는 DB를 새로 만든다. 
'''{mySQL}
use exam;

CREATE TABLE price_2(
  날짜 varchar(10), 
  티커 varchar(6),
  종가 int,
  거래량 int,
  PRIMARY KEY(날짜, 티커)
);

insert into price_2 (날짜, 티커, 종가, 거래량)
values
('2021-01-02', '000001', 1340, 1000),
('2021-01-03', '000001', 1315, 2000),
('2021-01-02', '000002', 500, 200),
('2021-01-03', '000002', 1380, 3000)
as new
on duplicate key update
종가 = new.종가, 거래량 = new.거래량;

insert into price_2 (날짜, 티커, 종가, 거래량)
values
('2021-01-02', '000001', 1300, 1100),
('2021-01-04', '000001', 1300, 2000)
as new
on duplicate key update
종가 = new.종가, 거래량 = new.거래량;
'''

' {mySQL}\ninsert into @table\n(arg1, arg2, arg3)\nvalues\n(@arg1, @arg2, @arg3 )\non duplicate key update (Key를 제외한 Update할 컬럼들 나열)\narg2 = @arg2, arg3 = @arg3\n'

In [53]:
# 실습을 위한 데이터프레임 만들기.

price = pd.DataFrame({
    "날짜": ['2021-01-04', '2021-01-04'],
    "티커": ['000001', '000002'],
    "종가": [1320, 1315],
    "거래량": [2100, 1500]
})

args = price.values.tolist()
args

[['2021-01-04', '000001', 1320, 2100], ['2021-01-04', '000002', 1315, 1500]]

In [56]:
# key에 값이 있으면 update, 없으면 insert.

con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='exam',
                      charset='utf8')

query = """
    insert into price_2 (날짜, 티커, 종가, 거래량)
    values (%s,%s,%s,%s) as new
    on duplicate key update
    종가 = new.종가, 거래량 = new.거래량;
"""
mycursor = con.cursor()
mycursor.executemany(query, args)
con.commit()

con.close()

In [57]:
# 예제 DB 삭제.
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='exam',
                      charset='utf8')

query = """
    drop database exam;
"""

mycursor = con.cursor()
mycursor.execute(query)
con.commit()

con.close()